h1, h2, h3 {
   color: #36C;
   font-weight: normal;
   letter-spacing: .4em;
   margin-bottom: 1em;
}

body {
	margin: 0;
	background-color: skyblue;
}

#mapid {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.filter {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: yellow;
	z-index: 10;
	font-size: 1.5em;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}